@font-face {
  font-family: navFont;
  src: url(./assets/fonts/BacasimeAntique-Regular.woff);
}
@font-face {
  font-family: "newFont";
  src: url(./assets/fonts/HindSiliguri-Medium.ttf);
}

@font-face {
  font-family: "digital-clock-font";
  src: url("./assets/fonts/digital-7.ttf");
}

body {
  margin: 0;
  font-family: "newFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: black;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: row;

  height: 100%;
  align-content: space-between;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}
